*{
    padding:0;
    margin:0;
}

body{
    background-image: url(bg.jpeg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu-bar{
    background-color: orange;
    text-align: center;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}

.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: white; 
}

.active, .menu-bar ul li:hover{
    background-color: orangered;
}

.sub-menu{
    display:none;
}

.menu-bar ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background-color: orange;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu ul{
    display: block;
    margin: 10px;
}

.info{
    width: 1260px;
    height: 600px;
    background-color: black;
    color: white;
    border-radius: 10px;
    opacity: 0.75;
    border: solid black 20px;
    margin-top: 200px;
    margin-left: 385px;
}

.ques{
    font-size: 3em;
    text-align: center;
}

.information{
    font-size: 1.5em;
    text-align: justify;
}

img{
    width: 300px;
    height: 200px;
    margin-left: 450px;
    border: 3px solid white;
}